* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 8.2rem;
  font-weight: 400;
}

.p-hero {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 300;
}

/* LAYOUT */
.hero-section {
  background-color: #19a7ce;
  padding-bottom: 10rem;

  position: relative;
}

.cloud-1 {
  position: absolute;
  left: 30rem;
  top: 5rem;
  rotate: -30deg;
}

.cloud-2 {
  position: absolute;
  right: 29.5rem;
  bottom: 7rem;
  rotate: 130deg;
}

.container {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
  margin: 0 auto;

  color: #fff;
}

.profile-div {
  text-align: center;
}

.profile-img {
  width: 20rem;
  height: 20rem;
}
